{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}
    Criar Conta
{% endblock %}
{% block main %}
    <div class="topnav">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'products' %}">Produtos</a>
          <a class="active" href="{% url 'user' %}">Usuário</a>
    </div>
    <h1>Criar Conta</h1>
    <form method="POST">
            {% csrf_token %}
            {{NewUserForm|bootstrap}}
        <button type="submit">Submit</button>
    </form>
{% endblock %}